<md-dialog>
  <md-content layout-padding>

    <div
      layout="row"
      layout-align="space-between center"
      layout-xs="column"
      layout-align-xs="start stretch"
      layout-wrap
    >
      <md-input-container flex="100" ng-if="vm.showSearchByName">
        <label>Nombre:</label>
        <input ng-model="vm.filters.name" title="name">
      </md-input-container>

      <md-input-container flex-xs="100">
        <label>Disponibilidad:</label>
        <md-select ng-model="vm.filters.available">
          <md-option ng-value="true">Productos disponibles</md-option>
          <md-option ng-value="false">Productos no disponibles</md-option>
        </md-select>
      </md-input-container>

      <md-input-container flex-xs="100">
        <label>Rango de precios:</label>
        <md-select ng-model="vm.filters.price" ng-model-options="{trackBy: '$value.min'}">
          <md-option ng-repeat="range in vm.priceFilter" ng-value="range">
            <span>{{range.min | currency}}</span>
            <span> - </span>
            <span ng-if="range.max">{{range.max | currency}}</span>
            <span ng-if="!range.max">en adelante</span>
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container flex-xs="100">
        <label>Cantidad:</label>
        <md-select ng-model="vm.filters.quantity" ng-model-options="{trackBy: '$value.min'}">
          <md-option ng-repeat="range in vm.quantityFilter" ng-value="range">
            <span>{{range.min}}</span>
            <span> - </span>
            <span ng-if="range.max">{{range.max}}</span>
            <span ng-if="!range.max">en adelante</span>
          </md-option>
        </md-select>
      </md-input-container>
    </div>

    <div layout="row" layout-align="end center" layout-wrap>
      <md-button ng-click="vm.closeFiltersDialog()" class="md-raised">
        Cancelar
      </md-button>
      <md-button ng-click="vm.clearFilters()" class="md-raised">
        Limpiar
      </md-button>
      <md-button ng-click="vm.search()" class="md-raised md-primary">
        Buscar
      </md-button>
    </div>
  </md-content>
</md-dialog>
